<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    <span class="catalogue-tags">{{ post.tags }}</span> 
    <time datetime="{{ post.date }}" class="catalogue-time"> &middot {{ post.date | date: "%Y-%m-%d" }}</time>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned"> "[【置顶】]"</span>
    {% endif %}
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>
    
    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

  </div>
</a>
